<?xml version="1.0" encoding="utf-8"?>
<entry xmlns="http://www.w3.org/2005/Atom">
    <title>{{ title }}</title>

    <author>
        <name>{{ name }}</name>
        <email>{{ email }}</email>
    </author>

    <content type="application/json">
{{ content }}
    </content>
</entry>